@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.nav-bar{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 14px;
	font-size: 1.3rem;
	font-weight: 500;
	color: #483D8B;
	background-color: #dcdcdc;
}

.content{
	padding: 20px 40px;
	margin: 20px 50px;
}

.content .semi-visible{
	text-decoration: none;
	color: #8A2BE2;
	cursor: cell;
}

.content .invisible{
	text-decoration: none;
	color: #000000;
	cursor: default;
}

.content .fake-link{
	color: #8A2BE2;
	font-style: normal;
}

.content .fake-link:hover{
	cursor: pointer;
	text-decoration: underline;
}

button{
	border: none;
	background: transparent;
	font-size: 1rem;
}

.disclaimer{
	text-align: center;
	padding: 10px 15px;
	margin: 10px 10px;
	background: #d2143a;
	color: #fff;
	font-size: clamp(1rem, 1.5rem, 2rem);
}
